* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
}
/* import google fonts from fonts file */
@import url("./Fonts.css");
/* Media queries styles */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}
